{% set isRafa = (name == "Rafa") %}

{% if (isRafa) %}
    You are the best!
{% else %}
    Nice to meet you
    {% for i in [1..3] %}.{% endfor %}
{% endif %}

{% set weekNames = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"] %}
{% set dayOfWeek = today.getDay() %}

<div>
Today is {{ weekNames[dayOfWeek] }}.
</div>

{% if (dayOfWeek == 5) %}
    Take it easy.
{% elseif (dayOfWeek in [0,6]) %}
	Take some rest.
{% endif %}